body {
  width: 1260px;
  margin: auto;
  text-align: center;
}

li {
  list-style: none;
  padding: 0;
  font-size: 16px;
  line-height: 1.5;
}

a {
  text-decoration: none;
}
button {
  border: none;
  border-radius: 4px;
  padding: 4px 8px;
  font-size: 16px;
  cursor: pointer;
  background-color: #33adff;
  color: #ffffff;
}
