.header {
  font-size: 2.2rem;
  font-weight: 600;
  margin-bottom: 3rem;
}

.main {
  margin: 0 5rem;
}

.update_section {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 1rem;
  margin-right: 1rem;
}

.list {
  display: flex;
  justify-content: center;
  gap: 1.8rem;
}

.list > li {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 1.1rem;
  width: 16rem;
  padding: 2rem 0;
  background-color: #66c2ff;
  color: #ffffff;
  border-radius: 8px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.list > li > a {
  color: #ffffff;
  font-size: 1.3rem;
  margin-bottom: 1rem;
  font-weight: 600;
}

.list > li > a:hover {
  transform: scale(1.1);
  transition: all 300ms ease;
}

.currentTemp {
  font-weight: 600;
}
.temp {
  display: flex;
  gap: 0.5rem;
  font-size: 1rem;
}
