.header {
  font-size: 1.8rem;
  font-weight: 600;
  padding: 1rem;
  text-align: center;
}

.list {
  display: flex;
  justify-content: center;
  gap: 1.8rem;
}

.list > li {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 12rem;
  padding: 1.5rem 0;
  background-color: #66c2ff;
  color: #ffffff;
  border-radius: 8px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.list > li > a {
  color: #ffffff;
  font-size: 1.2rem;
  font-weight: 600;
}
